body{
    background-color: rgb(51, 81, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.calculator{
    background-color: rgb(211, 211, 211);
    padding: 23px;
    border-radius: 10px;
}

.buttons{
    width: 232px;
    display: flex;
    flex-wrap:wrap;
}

button {
    background-color: rgb(131, 129, 129);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 4px;
}

button:hover{
    background-color: rgb(111, 110, 110);
}
button:active{
    background-color: tomato;  
}

.screen {
    width: 220px;
    background-color: rgb(176, 205, 176);
    font-size: 40px;
    text-align: end;
    padding: 4px;
}

#equal{
    background-color: rgb(218, 2, 2);
}

#equal:hover{
    background-color: rgb(195, 1, 1);
}

#clear{
    width: 96%;
    background-color: rgb(22 153 151);
    font-size: 30px;
}

#clear:hover{
    background-color: rgb(22 128, 130);
}